In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [49]:
df = pd.read_csv("C:\\Users\\User\\Documents\\GitHub\\Canser-Prediction-Analysis\\data\\The_Cancer_data_1500_V2.csv")
df.head()

,Age,Gender,BMI,Smoking,GeneticRisk,PhysicalActivity,AlcoholIntake,CancerHistory,Diagnosis
0,58,1,16.085313,0,1,8.146251,4.148219,1,1
1,71,0,30.828784,0,1,9.361630,3.519683,0,0
2,48,1,38.785084,0,2,5.135179,4.728368,0,1
3,34,0,30.040296,0,0,9.502792,2.044636,0,0
4,62,1,35.479721,0,0,5.356890,3.309849,0,1

In [50]:
df.tail()

,Age,Gender,BMI,Smoking,GeneticRisk,PhysicalActivity,AlcoholIntake,CancerHistory,Diagnosis
1495,62,1,25.090025,0,0,9.892167,1.284158,0,1
1496,31,0,33.447125,0,1,1.668297,2.280636,1,1
1497,63,1,32.613861,1,1,0.466848,0.150101,0,1
1498,55,0,25.568216,0,0,7.795317,1.986138,1,1
1499,67,1,23.663104,0,0,2.525860,2.856600,1,0

In [51]:
df.dtypes

Age                   int64
Gender                int64
BMI                 float64
Smoking               int64
GeneticRisk           int64
PhysicalActivity    float64
AlcoholIntake       float64
CancerHistory         int64
Diagnosis             int64
dtype: object

In [52]:
# view dataset
df.shape

(1500, 9)

In [53]:
#summary statistics-numarical columns
df.describe()

,Age,Gender,BMI,Smoking,GeneticRisk,PhysicalActivity,AlcoholIntake,CancerHistory,Diagnosis
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
mean,50.320000,0.490667,27.513321,0.269333,0.508667,4.897929,2.417987,0.144000,0.371333
std,17.640968,0.500080,7.230012,0.443761,0.678895,2.866162,1.419318,0.351207,0.483322
min,20.000000,0.000000,15.000291,0.000000,0.000000,0.002410,0.001215,0.000000,0.000000
25%,35.000000,0.000000,21.483134,0.000000,0.000000,2.434609,1.210598,0.000000,0.000000
50%,51.000000,0.000000,27.598494,0.000000,0.000000,4.834316,2.382971,0.000000,0.000000
75%,66.000000,1.000000,33.850837,1.000000,1.000000,7.409896,3.585624,0.000000,1.000000
max,80.000000,1.000000,39.958688,1.000000,2.000000,9.994607,4.987115,1.000000,1.000000

In [54]:
#summary statistics -numerical and categorical columns
df.describe(include='all')

,Age,Gender,BMI,Smoking,GeneticRisk,PhysicalActivity,AlcoholIntake,CancerHistory,Diagnosis
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
mean,50.320000,0.490667,27.513321,0.269333,0.508667,4.897929,2.417987,0.144000,0.371333
std,17.640968,0.500080,7.230012,0.443761,0.678895,2.866162,1.419318,0.351207,0.483322
min,20.000000,0.000000,15.000291,0.000000,0.000000,0.002410,0.001215,0.000000,0.000000
25%,35.000000,0.000000,21.483134,0.000000,0.000000,2.434609,1.210598,0.000000,0.000000
50%,51.000000,0.000000,27.598494,0.000000,0.000000,4.834316,2.382971,0.000000,0.000000
75%,66.000000,1.000000,33.850837,1.000000,1.000000,7.409896,3.585624,0.000000,1.000000
max,80.000000,1.000000,39.958688,1.000000,2.000000,9.994607,4.987115,1.000000,1.000000

In [55]:
# finding all mean values
df.mean()

Age                 50.320000
Gender               0.490667
BMI                 27.513321
Smoking              0.269333
GeneticRisk          0.508667
PhysicalActivity     4.897929
AlcoholIntake        2.417987
CancerHistory        0.144000
Diagnosis            0.371333
dtype: float64

In [56]:
df['BMI'].median()

np.float64(27.598494363554558)

In [57]:
df['Gender'].value_counts()

Gender
0    764
1    736
Name: count, dtype: int64

In [58]:
df['Diagnosis'].value_counts(normalize=True) * 100

Diagnosis
0    62.866667
1    37.133333
Name: proportion, dtype: float64

Group-Based Descriptions

In [59]:
#Average BMI by diagnosis
df.groupby('Diagnosis')['BMI'].mean()

Diagnosis
0    26.471469
1    29.277175
Name: BMI, dtype: float64

In [60]:
# Average alcohol intake by cancer history
df.groupby('CancerHistory')['AlcoholIntake'].mean()

CancerHistory
0    2.385746
1    2.609644
Name: AlcoholIntake, dtype: float64

In [61]:
# Average physical activity by smoking level
df.groupby('Smoking')['PhysicalActivity'].mean()

Smoking
0    4.974151
1    4.691148
Name: PhysicalActivity, dtype: float64

In [62]:
#missing values
df.isnull().sum()

Age                 0
Gender              0
BMI                 0
Smoking             0
GeneticRisk         0
PhysicalActivity    0
AlcoholIntake       0
CancerHistory       0
Diagnosis           0
dtype: int64

In [63]:
#check total missing values
df.isnull().sum().sum()

np.int64(0)

In [64]:
#check duplicates
df.duplicated().sum()

np.int64(0)

In [65]:
#bascic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               1500 non-null   int64
 1   Gender            1500 non-null   int64
 2   BMI               1500 non-null   float64
 3   Smoking           1500 non-null   int64
 4   GeneticRisk       1500 non-null   int64
 5   PhysicalActivity  1500 non-null   float64
 6   AlcoholIntake     1500 non-null   float64
 7   CancerHistory     1500 non-null   int64
 8   Diagnosis         1500 non-null   int64
dtypes: float64(3), int64(6)
memory usage: 105.6 KB

In [66]:
df['Gender'].unique()

array([1, 0])

In [67]:
#detect outliers
import numpy as np

Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1

outliers = ((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).sum()
print("Number of outliers in each column:")
print(outliers)

Number of outliers in each column:
Age                   0
Gender                0
BMI                   0
Smoking               0
GeneticRisk           0
PhysicalActivity      0
AlcoholIntake         0
CancerHistory       216
Diagnosis             0
dtype: int64

In [68]:
from scipy import stats
import numpy as np

z_scores = np.abs(stats.zscore(df.select_dtypes(include=[int, float])))
outliers_z = (z_scores > 3).sum(axis=0)

print("Outliers detected (Z-score > 3):")
print(outliers_z)

Outliers detected (Z-score > 3):
[0 0 0 0 0 0 0 0 0]

In [69]:
df.skew()

Age                -0.032819
Gender              0.037377
BMI                -0.021391
Smoking             1.040986
GeneticRisk         0.980511
PhysicalActivity    0.076022
AlcoholIntake       0.055101
CancerHistory       2.030002
Diagnosis           0.533137
dtype: float64

In [18]:
df['Diagnosis'].value_counts()

Diagnosis
0    943
1    557
Name: count, dtype: int64

In [70]:
# Action for skewed features:
import numpy as np

df['CancerHistory_log'] = np.log1p(df['CancerHistory'])
df['Smoking_log'] = np.log1p(df['Smoking'])
df['GeneticRisk_log'] = np.log1p(df['GeneticRisk'])